@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
    #root > div > div > div {
    background-color: theme("colors.primary.DEFAULT") !important;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .min-h-dvh {
    min-height: 100dvh;
  }

  .h-dvh {
    height: 100dvh;
  }

  .max-h-dvh {
    max-height: 100dvh;
  }

  .hero-portrait-object {
    object-position: 50% 75%;
  }

  .hero-portrait-scale {
    transform: scale(0.85);
    transform-origin: 50% 50%;
  }
}

@media (min-width: 1024px) {
  .hero-portrait-object {
    object-position: 50% 70%;
    object-fit: none;
  }
  
}
